<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="/static/css/workflows.css"> -->
    <style>
      table {
        border-collapse: collapse;
      }

      table, th, td {
        border: 1px solid black;
      }

      th {
        background-color: #f2f2f2;
        color: #333;
      }

      h1 {
        color: #2a7ae2;
      }
    </style>
  </head>
  <body>
    <h1>{{.TotalCount}} workflows</h1>
    {{range .Items}}
    <table>
      <tr style='text-align: left'>
        <th>ID</th>
        <td>{{.ID}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>Name</th>
        <td>{{.Name}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>Path</th>
        <td>{{.Path}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>State</th>
        <td>{{.State}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>Created at</th>
        <td>{{.CreatedAt}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>Updated at</th>
        <td>{{.UpdatedAt}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>Url</th>
        <td>{{.URL}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>HTML url</th>
        <td>{{.HTMLURL}}</td>
      </tr>
    </table>
    {{end}}
  </body>
</html>