<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <h1>{{.TotalCount}} workflows</h1>
    <table>
      {{range .Items}}
      <tr style='text-align: left'>
        <th>ID</th>
        <td>{{.ID}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>Name</th>
        <td>{{.Name}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>Path</th>
        <td>{{.Path}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>State</th>
        <td>{{.State}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>Created at</th>
        <td>{{.CreatedAt}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>Updated at</th>
        <td>{{.UpdatedAt}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>Url</th>
        <td>{{.URL}}</td>
      </tr>
      <tr style='text-align: left'>
        <th>HTML url</th>
        <td>{{.HTMLURL}}</td>
      </tr>
      {{end}}
    </table>
  </body>
</html>