<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>GitActions Dashboard</title>
  <link rel="stylesheet" href="/static/css/home.css" />
  <link rel="icon" href="/static/assets/rocket-icon.png" type="image/png" />
</head>
<body>
  <main class="container">
    <h1>{{.Name}} Repositories</h1>

    <ul class="repo-list">
      {{range .Repos}}
      <li>
        <a href="/repo?name={{.Name}}">
          {{.FullName}}
        </a>
      </li>
      {{end}}
    </ul>
  </main>
</body>
</html>
