<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="/static/css/dashboard.css"> -->
    <style>
    h1 {
      color: #2a7ae2;
    }
</style>
  </head>
  <body>
    <h1>Fasgo Repositories</h1>
    <ol>
      <li><a href="http://localhost:8000/store">Store</a></li>
      <li><a href="http://localhost:8000/customer">Customer</a></li>
      <li><a href="http://localhost:8000/driver">Driver</a></li>
      <li><a href="http://localhost:8000/order">Order</a></li>
    </ol>

  </body>
</html>